# Required
BOT_TOKEN=PASTE_YOUR_TELEGRAM_BOT_TOKEN_HERE

# Recommended
SUPPORT_USERNAME=@legendsa2
REFERRAL_LINK=https://u3.shortink.io/register?utm_campaign=838786&utm_source=affiliate&utm_medium=sr&a=WQ656LRzTHSJ6J&ac=aipidgin_nigeria&code=WELCOME50
LOG_LEVEL=WARNING
BOT_VERSION=2026.02.23-1
